{% extends "base.html" %}

{% block title %}Admin - Users{% endblock %}

{% block content %}
<form method="GET" >
  <h3 align="center">Users List</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.user_type }}</td>
        <!-- Display more user information as needed -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
