{% extends "base.html" %}
{% block title %}Bartender Availability{% endblock %}
{% block content %}
<div class="container">
  <h1 align="center">Bartender Availability</h1>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Day Shift</th>
        <th>Night Shift</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
        {% for day, date in dates.items() %}
        <tr>
          <td>{{ day }}</td>
          <td>{{ date }}</td>
          <td>{% for bartender_availability in bartenders_availability %}
                {% for availability in bartender_availability.availabilities %}  
                  {% if availability.day_shift and availability.day == day %}
                     {{ bartender_availability.full_name }}
                  {% endif %}   
                {% endfor %}
              {% endfor %}  
          </td>
          <td>{% for bartender_availability in bartenders_availability %}
                {% for availability in bartender_availability.availabilities %}  
                    {% if availability.night_shift and availability.day == day %}
                       {{ bartender_availability.full_name }}
                    {% endif %}
                {% endfor %}
              {% endfor %}  
          </td>
          <td>{{ day }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
