{% extends "base.html" %}
{% block title %}All Weekly Work Arrangements{% endblock %}
{% block content %}
<div class="container">
  <h1 align="center">All Weekly Work Arrangements</h1>
  {% if work_arrangements %}
    <div id="arrangement" class="arrangement mb-4"></div>
    <div class="navigation">
      <button id="prev-btn" class="btn btn-primary" disabled>Previous</button>
      <button id="next-btn" class="btn btn-primary">Next</button>
    </div>
  {% else %}
    <p>No work arrangements found</p>
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    let currentIndex = 0;
    const arrangements = {{ work_arrangements | tojson }};
    const prevBtn = document.getElementById('prev-btn');
    const nextBtn = document.getElementById('next-btn');
    const arrangementDiv = document.getElementById('arrangement');

    // Define the order of days
    const dayOrder = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    function sortArrangements(arrangements) {
      return Object.entries(arrangements).sort((a, b) => {
        return dayOrder.indexOf(a[0]) - dayOrder.indexOf(b[0]);
      });
    }

    function renderArrangement(index) {
      const arrangement = arrangements[index];
      const sortedArrangements = sortArrangements(arrangement.arrangements);
      
      arrangementDiv.innerHTML = `
        <p><strong>Created At:</strong> ${arrangement.created_at}</p>
        <p><strong>Notes:</strong> ${arrangement.notes}</p>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Day</th>
              <th>Date</th>
              <th>Day Shift</th>
              <th>Night Shift</th>
            </tr>
          </thead>
          <tbody>
            ${sortedArrangements.map(([day, shifts]) => `
              <tr>
                <td>${day}</td>
                <td>${shifts.date}</td>
                <td>${shifts.day_shift.join('<br>')}</td>
                <td>${shifts.night_shift.join('<br>')}</td>
              </tr>
            `).join('')}
          </tbody>
        </table>
      `;
    }

    prevBtn.addEventListener('click', () => {
      if (currentIndex > 0) {
        currentIndex--;
        renderArrangement(currentIndex);
        nextBtn.disabled = false;
      }
      if (currentIndex === 0) {
        prevBtn.disabled = true;
      }
    });

    nextBtn.addEventListener('click', () => {
      if (currentIndex < arrangements.length - 1) {
        currentIndex++;
        renderArrangement(currentIndex);
        prevBtn.disabled = false;
      }
      if (currentIndex === arrangements.length - 1) {
        nextBtn.disabled = true;
      }
    });

    renderArrangement(currentIndex);
  });
</script>
{% endblock %}
